.td-navbar .navbar-brand svg {
    display: inline-block;
    margin: 0 0px;
    height: 40px;
}

.td-home {
    .site-logo {
        max-height: 8rem;
        max-width: 65%;
      }

     .cncf {
        text-align: center;
     }
}

.example {
    font-size: xx-small;
}
