{{ $pkg := .Get "pkg" }}
{{ $sym := .Get "sym" }}

{{ $package := "" }}
{{ if eq $pkg "" }}
{{ $package = $pkg }}
{{ else }}
{{ $package = print "." $pkg }}
{{ end }}

{{ $uppers := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

{{ $base := "https://koalaplot.github.io/koalaplot-core/api/0.6.0/-koala%20-plot%20-core/" }}

{{ $symbol := replace $sym "()" "" }}
{{ range $ch := $uppers }}
{{ $replacement := print "-" (lower $ch)}}
{{ $symbol = (replace $symbol $ch $replacement) }}
{{ end }}

{{ if (hasSuffix $sym "()") }}

{{ $url := print $base "io.github.koalaplot.core" $package "/" $symbol ".html" }}
<a href="{{$url}}" target="_blank">{{.Inner}}</a>{{else}}
{{ $url := print $base "io.github.koalaplot.core" $package "/" $symbol "/index.html" }}
<a href="{{$url}}" target="_blank">{{.Inner}}</a>{{ end }}